div {
    background-color: rgb(157, 157, 157);
}

.container {
    /* background-color: red; */
    background-color: rgb(157, 157, 157);
} 

.bandera-argentina, .bandera-alemania, .bandera-rusia, .bandera-rumania, .bandera-peru, .bandera-italia {
    /* display para que me lo mantenga como bloque y el margen me lo aplique a todo (arriba sino no aplica) */
    display: inline-block;
    border: solid 1px hsl(0, 0%, 68%);
    border-radius: 10px;
    background-color: white;
    margin: 20px;
     /* overflow hidden para que las franjas no sobrepasen el redondeado y borde de mi .bandera */
    overflow: hidden;
    box-shadow: 5px 5px 50px;
}

.bandera-rumania {
    background-color: yellow;
}

.bandera-rumania>div.franja-azul {
    width: 33.33%;
    height: 100%;
    /* float left pèrmite que me tome el margin, preguntar porque  */
    float: left;
}

.bandera-rumania>div.franja-roja {
    width: 33.33%;
    height: 100%;
    margin-left: 66.66%;
}

.bandera-peru>div.franja-roja {
    width: 33.33%;
    height: 100%;
    float: left;
}

#franja-roja-derecha {
    width: 33.33%;
    height: 100%;
    margin-left: 66.66%;
}

.bandera-italia>div.franja-verde {
    width: 33.33%;
    height: 100%;
    float: left;
}


.bandera-italia>div.franja-roja {
    width: 33.33%;
    height: 100%;
    margin-left: 66.66%;
}

div>div {
    width: 300px;
    height: 200px;
}

div>div>div {
    width: 100%;
    height: 33.33%;
}

.franja-celeste {
    background-color: lightskyblue;
}

.franja-blanca {
    background-color: white;
}

.franja-roja {
    background-color: red;
}

.franja-roja-derecha {
    background-color: red;
}

.franja-negra {
    background-color: black;
}

.franja-amarilla {
    background-color: yellow;
}

.franja-verde {
    background-color: green;
}

.franja-azul {
    background-color: rgba(37, 37, 186, 0.922);
}